		body
		{
			color: #FFF;
			background-color: #0A0B37;
			font-family: "Arial", "sans-serif";
			/*font-size : 100%;*/
		}

		input
		{
			color: #000;
			border-radius: 4px;
			height: 40px;
			width: 100px;
			text-align: center;
			font-size: 1.5em;
			text-transform: uppercase;
			margin: 0.5em;

		}

		button
		{
			border-radius: 4px;
			font-size: 1.5em;
			height: 40px;
			width: 100px;
		}

/* Divs */

div.box
{
	font-size: 1em;
	border-style: solid;
	border-color: white;
	margin: 1em;
	padding: 1em;
	
}

/* Headers */

h1
{
	margin: 0.5em;
}

/* Links */

a:link
{
	color: white;
}

a:visited
{
	color: white;
}

/**********************************************/
/* Tables */
/**********************************************/

table
{
	border-color: #A2A2A2;
}

table, td, th
{
	padding: 0.5em;
}

th
{
	font-weight: bold;
}

table i
{
	font-size: 16pt;
}